.global-app-background {
  object-fit: cover;
  width: 100%;
  height: 100vh;
  background: url(../../../../style/assets/images/global-app-background.jpg)
    no-repeat;
  background-size: cover;
  text-align: center;
  position: absolute;
  overflow: auto;
  padding-bottom: 150px;
  overflow-x: hidden !important;
}

.navbar {
  background-color: black;
}
