.card {
  width: 100%;
  display: inline-block;
  height: auto;
  border-radius: 8px;
  text-align: left;
  background: linear-gradient(to bottom, #ffffff 12%, #fffff5 100%);
  margin-bottom: 15px;
}

.header {
  display: inline-block;
  height: auto;
  width: 100%;
  border-radius: 8px 8px 0 0;
  background: #eeeff0;
  border-bottom: 1px solid #d2d4d6;
  padding: 10px 15px;
}

.header .title {
  font-size: 20px;
  font-weight: 600;
  font-family: ColinSerifWeb-Bold, Georgia, "Times New Roman", Times, serif;
  color: #363b42;
  display: inline-block;
}

.card-padding {
  padding: 20px;
}

.content-padding {
  padding: 15px;
}
