input {
  outline: none;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.column-wide {
  width: 60%;
}

.column-narrow {
  width: 40% !important;
}

.column-half {
  width: 50% !important;
}

.target-pointer {
  cursor: pointer !important;
}

.align-left {
  text-align: left;
}

.inline-block {
  display: inline-block;
}

.margin-none {
  margin: 0;
}

.global-font {
  font: 600 16px/18px "Open Sans", sans-serif;
}
