input {
  outline: none;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.column-full {
  width: 100% !important;
}

.column-wide {
  width: 60%;
}

.column-half {
  width: 50% !important;
}

.column-narrow {
  width: 40% !important;
}

.column-quarter {
  width: 25% !important;
}

.target-pointer {
  cursor: pointer !important;
}

.align-left {
  text-align: left;
}

.inline-block {
  display: inline-block;
}

.margin-none {
  margin: 0;
}

.global-font {
  font: 600 16px/18px "Open Sans", sans-serif;
}

.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #3498db;
  width: 40px;
  height: 40px;
  margin: auto;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
