/**
 * Font Sizes
 */
$header-font-size: 20px;
$label-font-size: 16px;
$field-font-size: 14px;

$header-font-family: ColinSerifWeb-Bold, Georgia, "Times New Roman", Times,
  serif;

/**
 * Colors
 */
$dark-gray: #363b42;
$white: #ffffff;
$dark-white: #fffff5;
$wheat: #eeeff0;
$dark-wheat: #d2d4d6;

/**
 * Padding
 */
$padding-full: 20px;
$padding-half: $padding-full / 2;

/**
 * Border
 */
$border-radius-full: 8px;

/**
 * margin
 */
$margin-full: 30px;
$margin-half: $margin-full / 2;
