/**
 * Font Sizes
 */
$header-font-size: 20px;
$label-font-size: 16px;
$field-font-size: 14px;

$header-font-family: ColinSerifWeb-Bold, Georgia, "Times New Roman", Times,
  serif;

/**
 * Colors
 */
$dark-gray: #363b42;
$white: #ffffff;
$dark-white: #fffff5;
$wheat: #eeeff0;
$dark-wheat: #d2d4d6;

$black-to-blue-gradient-moz: -moz-linear-gradient(
  left,
  #000529 1%,
  #002055 24%,
  #005db5 67%,
  #0074d9 100%
);
$black-to-blue-gradient-webkit: -webkit-linear-gradient(
  left,
  #000529 1%,
  #002055 24%,
  #005db5 67%,
  #0074d9 100%
);
$black-to-blue-gradient-default: linear-gradient(
  to right,
  #000529 1%,
  #002055 24%,
  #005db5 67%,
  #0074d9 100%
);

/**
 * Padding
 */
$padding-full: 20px;
$padding-half: $padding-full / 2;

/**
 * Border
 */
$border-radius-full: 8px;

/**
 * margin
 */
$margin-full: 30px;
$margin-half: $margin-full / 2;
